body{
    font-family: 'Poppins', sans-serif;
}
section {
    background-color: yellow;
    border: solid black 1px;
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;

}

footer {
    height: 500px;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 15px;
}

ul.show
{
    display: block;
}

h1{
    font-size: 90px;
    margin: 0;
}

p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
li{
    width: 150px;
    text-decoration: none;
}
.hero-area
{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text
{
    margin-left: 80px;
    margin-bottom: 100px;
}

.button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover
{
    background-color: #ef744b;
}

.button:active
{
    background-color: #A9A9A9;
    color: #808080;
}

.socials{
    padding-bottom: 200;
}

.logo{
    height: 80px;
    margin: 30px;
}

.social
{
    margin: 10px;
}

.sub-section
{
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.sub-section-alternative
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2{
    font-size: 80px;
}

.subtext
{
    font-size: 15px;
    font-weight: 300;
}

.headshot{
    width: 200px;
    border-radius: 150px;
}

.headshot-container{
    display: flex;
    align-items: center;
}

.project-card{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;

}
.certificate-card{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;

}
.project-container{
    display: flex;
    justify-content: space-around;
}
.image-container {
    display: flex;
    justify-content: space-around;
}
.certificate-container
{
    display: flex;
    justify-content: space-around;
}
table,th,td
{
    border: 1px solid;
}
figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    visibility: hidden;
    overflow: hidden;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .content
  {
    position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  }

 .content:hover .overlay
 {
    opacity: 1;
 }

 .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
@media only screen and (max-width: 800px)
{
    .project-container
    {
        display: flex;
        flex-wrap: wrap;
    }
    .image-container
    {
        display: flex;
        flex-wrap: wrap;
        float: left;
    }
}


.project-image
{
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
    float: left;
}

.certificate-image
{
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
    float: left;
}



hr
{
    margin-left: 20px;
    margin-right: 20px;
}

.project-link
{
    text-decoration: none;
    color: #ef744b;
}

a
{
    text-decoration: none;
    color: white;   
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

.hamburger
{
display: none;
}

.hamburger.focus
{
    outline: 0;
}

#Education table, td,tr,th{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
#Education td{
    padding-left: 75px;
    padding-right: 75px;
}

@media only screen and (max-width: 800px)
{
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul{
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show{
        display: block;
    }

    nav{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .logo{
        display: none;
    }
}

#gallery { position: relative;
           align-items: center;
        }
#gallery ul { width: 250px; 
              display: inline-block;
             list-style-type: none; }

#gallery li { display: inline; 
			  padding: 10px; }
#gallery img { border-style: none; }
#gallery a { text-decoration: none; 
             color: #333; 
			 font-style: italic; }

#gallery span { display: none; }    
#gallery a:hover span { display: block; 
                        position: absolute;
					    top: 10px; 
						left: 300px; 
						text-align: center; }
